<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/prism/prism (2).css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/prism/prism (2).js"></script>
</body>
</html>
