@{
    ViewData["Title"] = "Let's Learn!";
}

<div style="text-align:center">
    <h1 dir="rtl" class="dark-color1">به وبسایت آموزشی  <span class="dark-color2">Let's Learn</span>  خوش آمدید!</h1>

    <div class="codeblock">
<pre>
        <code class="language-cs">
public class Program
{
    public static void Main(string[] args)
    {
        Console.WriteLine("Hello World!");
    }
}
    </code>
</pre>
    </div>

</div>

